<a href="https://colab.research.google.com/github/avijit-avk/Assignments-LetsUpgrade-Data-Science/blob/main/Assignment_Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**

In [1]:
import pandas as pd

print(pd.__version__)

1.1.4

**Question 2**

In [3]:
import pandas as pd
import numpy as np

data = np.array(['a','b','c','d','e'])

s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

**Question 3**

In [5]:
import pandas as pd 
  
  
df = pd.DataFrame({'Roll Number': ['1705585', '1705586', '1705589', '1705590'], 
                   'Name': ['Arithro', 'Arju', 'Avijit', 'Ayush'], 
                   'Marks In Percentage': [90,85,80,75], 
                   'Grade': ['A', 'B', 'B', 'C'], 
                   'Subject': ['DS','DS','DS','DS']}) 
  
df['index'] = df.index 
df

  Roll Number     Name  Marks In Percentage Grade Subject  index
0     1705585  Arithro                   90     A      DS      0
1     1705586     Arju                   85     B      DS      1
2     1705589   Avijit                   80     B      DS      2
3     1705590    Ayush                   75     C      DS      3

**Question 4**

In [6]:
import seaborn as sns

mpg=sns.load_dataset('mpg')

print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

**Question 5**

In [7]:
import seaborn as sns
import pandas as pd

# loading the dataset from seaborn
mpg=sns.load_dataset('mpg')

# creating a dataframe
df = pd.DataFrame(mpg)

# Displaying the country origin from where cars belong
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

**Question 6**

In [8]:
import seaborn as sns
import pandas as pd

# loading the dataset from seaborn
mpg=sns.load_dataset('mpg')

# creating a dataframe
df = pd.DataFrame(mpg)

# Displaying the part from dataframe where cars belong to "usa"
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]